<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
	<appSettings>
		<add key="DevPufahlConnectionString" value="server=localhost, 1433; database=CATALOGO_P3_DB; user=sa; password=ThomasPufahl1525" />
		<add key="ConnectionString" value="server=.\\SQLEXPRESS; database=CATALOGO_P3_DB; integrated security=true" />
	</appSettings>
</configuration>